body {
    box-sizing: border-box;
    margin: 0;
}
.home {
    background-color: #dbcdd6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#imgHome {
    width: 16em;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

#textHome {
    font-family: "Bungee", cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    text-decoration: none;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.intro {
    background-color: #dbcdd6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#imgIntro {
    width: 100%;
    height: auto;
}

#introBtn {
    font-family: "Bungee", cursive;
    color: white;
    font-size: 26px;
    position: absolute;
    bottom: 8%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    text-decoration: none;
}

.preface {
    background-color: #dbcdd6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#imgPreface {
    width: 5em;
    position: absolute;
    top: 21%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

#textPreface {
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    background-color: #dbcdd6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: pre-wrap;
}

.scavengerHuntContainer {
    background-color: #dbcdd6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#imgGame {
    width: 10em;
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translate(50%, -50%);
}

.promptHeader {
    position: fixed;
    font-family: "Bungee", cursive;
    color: white;
    position: absolute;
    top: 28%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.promptsContainer {
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    background-color: #dbcdd6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: pre-wrap;
}

.promptBody {
    height: 24em;
    width: 100%;
    overflow: scroll;
    white-space: pre-wrap;
    margin-top: 120px;
}

#submitContainer {
    position: fixed;
    width: 100%;
    bottom: 4%;
    left: 15%;
}

.submitBar {
    font-family: "Bungee", cursive;
    font-size: 13px;
    width: 50%;
}

.submitBtn {
    font-family: "Bungee", cursive;
    font-size: 13px;
    background-color: black;
    color: white;
}

#notification-wrapper {
    font-family: "Bungee", cursive;
}
